<div class="game-viewer row" id="<%= id %>">
    <div class="game-canvas">
        <div class="row">
            <canvas width="<%= canvasWidth %>" height="<%= canvasHeight %>"></canvas>
        </div>
        <div class="game-navigator row">
            <div class="game-navigator-buttons col-md-6">
                    <button class="btn btn-primary play-backward fa fa-backward"></button>
                    <button class="btn btn-primary play fa fa-play"></button>
                    <button class="btn btn-primary play-forward fa fa-forward"></button>
            </div>
            <div class="game-current-turn text-left col-md-6"> </div>
        </div>
    </div>
</div>