<div class="game-viewer" id="<%= id %>">
    <div class="game-canvas">
        <canvas width="<%= canvasWidth %>" height="<%= canvasHeight %>"></canvas>
        <div class="game-navigator">
            <div class="game-navigator-buttons">
                <button class="btn btn-primary play-backward fa fa-backward"></button>
                <button class="btn btn-primary play fa fa-play"></button>
                <button class="btn btn-primary play-forward fa fa-forward"></button>
            </div>
            <div class="game-current-turn"> 0/0 </div>
        </div>
    </div>
</div>