<html>
    <body>
        Witaj <%= user %><br>
        <a href="/logout">Wyloguj</a>

        <a>
            Gry:
            <a href="/games/crossncircle">Cross and Circle</a>
        </a>
    </body>
</html>