<%- include('partials/head.ejs', { title: game.title }) %>
<%- include('partials/alert.ejs') %>
<%- include('partials/menu.ejs', {userName : user.userName}) %>

<div class="row">

    

</div>

<%- include('partials/end.ejs') %>