<html>
    <body>
        <html>
            <body>
                Witamy
                <form method="POST" enctype="multipart/form-data">
                    <input type="text" name="user"><br>
                    <input type="hidden" name="_csrf" value="<%= token %>">
                    <button type="submit">Zaloguj</button>
                </form>
            </body>
        </html>
    </body>
</html>