<%- include('partials/head.ejs', { title: 'BotPlatform' }) %>
<%- include('partials/auto-menu.ejs') %>
<%- include('partials/alert.ejs') %>

<h2>
    <a href="/testing">Podstrony testowe</a>
</h2>

<%- include('partials/end.ejs') %>