<%- include('partials/head.ejs', { title: 'BotPlatform' }) %>
<%- include('partials/alert.ejs') %>

<h1>
    Welcome to BotPlatform
    <a href="/signup">Sign up</a>
    <a href="/login">Log in</a>
</h1>

<h2>
    <a href="/testing">Podstrony testowe</a>
</h2>

<%- include('partials/end.ejs') %>