<%- include('partials/head.ejs', { title: 'Register' }) %>
<%- include('partials/alert.ejs') %>

<header>
    <h1 class="text-center">Sign up to platform</h1>
</header>

<form method="post" action="/signup">
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="userName">Username:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="text" name="userName"></div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="email">Email Address:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="email" name="email"></div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="password">Password:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="password" name="password"></div>
    </div>
    <div class="row">
        <div class="col col-sm-4 col-md-2 col-lg-2"><label for="confirm">Confirm Password:</label></div>
        <div class="col col-sm-8 col-md-14 col-lg-14"><input type="password" name="confirm"></div>
    </div>
    <div>
        <input type="submit" value="Sign up" class="btn btn-default">
    </div>
</form>

<%- include('partials/end.ejs') %>