<head>
    <link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<ul class="nav navbar-nav navbar-right">
    <li>
        <%= userName %>
    </li>
    <li>
        <a href="/logout">Log out (can't see logout route for some reason now)</a>
    </li>
</ul>