<html>
    <body>
        Cross and Circle
        
        <form method="POST" enctype="multipart/form-data">
            <input type="file" name="file"><br>
            <button type="submit">Send file with code</button>
        </form>
    </body>
</html>